.root {
  @apply flex border-b-2 ra-focus:border-primary-400;
}

@media (hover: hover) {
  .button {
    opacity: 0;
  }
}

.root:hover .button,
.root[data-open] .button {
  opacity: 1;
}

.popover {
  width: var(--trigger-width);
  @apply shadow-lg bg-gray-100/80 backdrop-blur-sm;
  @apply outline-none;
}
