.root {
  @apply isolate relative overflow-hidden touch-none;
  min-width: calc(2 * var(--layout-min-pane-size));
}

.root[data-active] {
  @apply pointer-events-none;
}

.pane-a {
  @apply isolate absolute z-0;
  @apply top-0 h-full left-0;
  min-width: var(--layout-min-pane-size);
  width: min(
    100% - var(--layout-min-pane-size),
    var(--layout-pane-size, var(--layout-initial-pane-size))
  );
}

.pane-b {
  @apply isolate absolute z-0;
  @apply top-0 h-full right-0;
  min-width: var(--layout-min-pane-size);
  width: min(
    100% - var(--layout-min-pane-size),
    100% - var(--layout-pane-size, var(--layout-initial-pane-size))
  );
}

.divider {
  @apply isolate absolute z-10;
  @apply top-0 h-full;
  left: clamp(
    var(--layout-min-pane-size),
    var(--layout-pane-size, var(--layout-initial-pane-size)),
    100% - var(--layout-min-pane-size)
  );

  @apply cursor-col-resize;
  @apply w-[8px] -translate-x-1/2;

  @apply after:block after:h-full after:w-0 after:mx-auto;
  @apply after:border-x-2 after:border-primary-600;
  @apply after:transition-opacity after:opacity-0;
}

.root[data-active] .divider {
  @apply after:opacity-100 pointer-events-auto;
}

@media (pointer: coarse) {
  .divider {
    @apply w-[16px];
  }
}
