.item [role="gridcell"] {
  @apply flex;
}

@media (hover: hover) {
  .delete-button {
    opacity: 0;
  }
}

.item[data-hovered] .delete-button {
  opacity: 1;
}

.delete-button[data-focus-visible] {
  opacity: 1;
}
