@import "../../codicon/codicon.css";
@import "allotment/dist/style.css";
@import "@fontsource/source-code-pro/400.css";
@import "@fontsource/source-code-pro/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base bg-gray-50 text-primary-950;
    @apply select-none;
    -webkit-tap-highlight-color: transparent;
  }
  :root {
    --separator-border: theme(borderColor.DEFAULT);
    --focus-border: theme(colors.primary.600);
    --editor-font-family: theme(fontFamily.mono);
  }
}
